<h3>Please contact us :</h3>

<address>
    VHaaSh Technologies Pvt Ltd<br />
    3rd Floor, Laxmichhaya, Behind Bharati Bank,<br />
    Dhayari Phata, Sinhgad Road, Pune - 411 047<br />
    <abbr title="Phone">P:</abbr>
    +91 8956890522
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@vhaashtech.com">info@vhaashtech.com</a><br />
    <strong>Support:</strong> <a href="mailto:vikul.rathod@vhaashtech.com">vikul.rathod@vhaashtech.com</a>
</address>